* {
    box-sizing: border-box;
}

.home-bg {
    position: absolute;
    top: calc(50% + (89px / 2)); left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: calc(100vh - 89px);
    background-image: url(https://i.ibb.co/82X3sMv/oaAhri.jpg);
    background-size: 500%;
    background-repeat: no-repeat;
    background-position: 50% 1%;
    z-index: -1;
}

.container__route {
    padding: 10px;
    background-color: #fff;
    color:var(--border);
}
.container__route span {
    color: var(--p-black);
}
.container__route.container__route-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 99px);
    height: 89px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
} 
.container__route.container__route-title span {
    display: inline-block;
    width: 70%;
    font-size: 23px;
    font-weight: 200;
    text-align: center;
} 