* {
    box-sizing: border-box;
}

.home-bg {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: calc(100vh - 89px);
    background-image: url(https://i.ibb.co/82X3sMv/oaAhri.jpg);
    background-size: 500%;
    background-repeat: no-repeat;
    background-position: 50% 1%;
    z-index: -1;
}

.container__route {
    padding: 10px;
    background-color: #fff;
    color:var(--border);
}
.container__route span {
    color: var(--p-black);
}
.container__route.container__route-title {
    position: absolute;
    top: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 99px);
    height: 89px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
} 
.container__route.container__route-title span {
    display: inline-block;
    width: 70%;
    font-size: 23px;
    font-weight: 300;
    text-align: center;
}

.container__route.container__route-show {
    position: absolute;
    right: 99px;
    top: calc(65% + 89px);
    font-size: 19px;
    padding: 19px 26px;
    border: none;
}
.container__route.container__route-show span {
    font-weight: 300;
    position: relative;
}
.container__route.container__route-show span::before {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--border);
}

.container__route.container__route-name {
    position: absolute;
    bottom: 64px;
    right: -63px;
    display: inline-block;
    padding: 30px 30px;
    transform-origin: center;
    transform: rotate(-90deg);
}
.container__route.container__route-name span {
    font-size: 25px;
}

@media (max-width: 400px) {
    .container__route.container__route-title span {
        width: 80%;
        font-size: 18px;
    }
}