.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home-bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://i.ibb.co/82X3sMv/oaAhri.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 50% 0;
}